
@import url('components.css');


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { 
    overflow: hidden; 
    font-size: 2rem;
}

.footer-top {
    position: relative;
    padding-block: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-block-end: 2px solid var(--independence_30);
}

.footer-top::after {
  content: url(./images/delivery-boy.svg);
  position: absolute;
  bottom: -11px;
  left: -160px;
  width: 160px;
  animation: running-cycle 20s linear infinite;
}

@keyframes running-cycle {
    0% { left: -160px; }
    100% { left: 100%; }
}

.footer-top .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 1200px;
  margin:0 auto;
  
}

.footer-top li{
    text-decoration: none;
    list-style: none;
}


.footer .logo {
    color: var(--dark-orange);
    font-size: 3.2rem;
}
.footer .span {
    color: var(--orange);
    font-size: 3.2rem;
}

.footer-text { margin-block: 15px 25px; }

.social-list {
    display: flex;
  gap: 5px;
}

.social-link {
   
    font-size: 3rem;
    padding: 10px;
    transition: var(--transition-1);
}

.social-link > i {
  color:var(--black);
  transition: ease 0.5s;
}

.social-link > i:is(:hover, :focus){
  color:var(--orange);
  transform: scale(1.1);
}


.footer-list-title {
  position: relative;
  max-width: max-content;
  color: var(--black);
  font-family: var(--ff-rubik);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  letter-spacing: -1px;
  margin-block-end: 20px;
}

.footer-list-title::after {
    content: "";
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 15px);
  background-color: var(--deep-saffron);
  width: 40px;
  height: 4px;
  border-inline-end: 5px solid var(--deep-saffron);
  box-shadow: inset -5px 0 0 var(--white);
}

.footer-list > li:not(:last-child) { margin-block-end: 15px; }

.footer-list address { max-width: 20ch; }

/*
.footer-form {
    background-color: var(--white);
    padding: 30px;
    border: 1px solid var(--cultured);
    box-shadow: var(--shadow-2);
}

.input-wrapper {
  display: grid;
  gap: 10px;
  margin-block-end: 10px;
}

.input-field {
  color: var(--spanish-gray);
  font-size: var(--fs-4);
  border: 1px solid var(--cultured);
  padding: 8px 12px;
}

.input-field::placeholder { color: var(--spanish-gray); }

.input-field::-webkit-calendar-picker-indicator { opacity: 0.5; }

textarea.input-field {
  min-height: 50px;
  max-height: 150px;
  height: 100px;
  resize: vertical;
  margin-block-end: 10px;
}

.footer-form .btn {
  font-size: var(--fs-15);
  --height: 40px;
  --padding-inline: 25px;
}

.footer-form .btn:is(:hover, :focus) { background-color: var(--black); }
**/

.footer-bottom {
  padding-block: 20px;
  text-align: center;
}

.copyright-link { display: inline-block; }

.copyright-link:is(:hover, :focus) { text-decoration: underline; }






/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

/* .back-top-btn { 
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--deep-saffron);
  color: var(--white);
  padding: 15px;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
}

.back-top-btn.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
}

.back-top-btn:is(:hover, :focus) { background-color: var(--black); }

*/